#preloader{
    background:  #fcf4e7  url(../img/ebd9a6_f5dd94ffc9e14189ba0c98feebe6738c_mv2.gif) no-repeat center center;
    height: 100vh;
    background-size: 50%;
    width:100% ;
    position: fixed;
    z-index:100 ;
 

}








